.height-main-lg {
    height: 100vh;
  }
  
  .height-main-sm {
    height: 60vh;
  }
  
  @media (max-width: 991.98px) {
    .height-main {
      height: 60vh;
    }
  }
  
  @media (min-width: 992px) {
    .height-main {
      height: 100vh;
    }
  }